@import "~bootstrap/scss/bootstrap.scss";


::placeholder {
    color: white;
    opacity: 0.5;
}

nav {
    background: linear-gradient(
        45deg,
            rgb(143, 0, 0) 0%,
            rgb(0, 143, 24) 100%
    ),
}

.listBody{
    width: 400px;
    background: linear-gradient(
        45deg,
            rgb(143, 0, 0) 0%,
            rgb(0, 143, 24) 100%
    );
    color: white;
    border-radius: 10px;
}

.black-bg {
    background: transparent;
}

.multi-bg:nth-child(4n+1) {
    border: none;
    background: rgb(143, 0, 0)
}

.multi-bg:nth-child(4n+2) {
    border: none;
    background: rgb(0, 143, 24)
}

.border-round {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

*:focus {
    outline: none;
}

.hover i {
    visibility: hidden;
}

.hover:hover i {
    visibility: visible;
}